<!--The content below is only a placeholder and can be replaced.-->
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav uk-sticky">
            <li><a href="#"><span uk-icon="home" style="margin-right: 5px"></span>Home</a></li>
            <!--<li>
              <a href="#"><span uk-icon="grid"></span></a>
            </li>
            <li>
              <a href="#" class="uk-button">
                  <img class="uk-border-circle" width="30" height="30" src="assets/imag.jpg">
                  <div uk-dropdown="mode: click">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
              
            </a>
            </li>
            -->
            <li>
                <a href="#" class="uk-button" type="button">Language</a>
                    
                    <div uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="#">English</a></li>
                            <li><a href="#">Thai</a></li>
                            <li><a href="#">Japanese</a></li>
                            </ul>
                    </div>
                
              </li>
              
        </ul>

    </div>
</nav>
<div class="uk-container">
  <h1 class="uk-text-center uk-text-uppercase">Register</h1>
<div class="uk-flex-center" uk-grid>
        <div class="uk-inline">
    <a href="#modal-center" uk-toggle>
      
      <img class="uk-align-center uk-border-circle >" width="100" height="100" src="assets/imag.jpg">
    </a>
      <div id="modal-center" class="uk-flex-top uk-animation-scale-up uk-animation-fade" uk-modal>
          <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      
              <button class="uk-modal-close-default" type="button" uk-close></button>
      
              <img src="assets/imag.jpg">
      
          </div>
      </div>
      <a href="#">
      <div class="uk-overlay uk-overlay-default uk-position-bottom uk-padding-remove-top js-upload" uk-form-custom>
          <input type="file" allow="(*.png)">
          <span uk-icon="camera" tabindex="-1"></span>
      </div>
    </a>
  </div>
</div>
      <div class="uk-margin uk-child-width-1-1 uk-flex-center" uk-grid>
        <div class="uk-width-1-2" uk-grid>
          <p class="uk-margin-remove uk-text">User ID</p>
          <input class="uk-input uk-border-rounded uk-form-width-large uk-margin-remove" type="text" placeholder="Username">
          <p class="uk-margin-remove uk-text">Password</p>
          <input class="uk-input uk-border-rounded uk-form-width-large uk-margin-remove" type="text" placeholder="Password">
          <p class="uk-margin-remove uk-text">Confirm-Password</p>
          <input class="uk-input uk-border-rounded uk-form-width-large uk-margin-remove" type="text" placeholder="Confirm-Password">
          <p class="uk-margin-remove uk-text">Email Address</p>
          <input class="uk-input uk-border-rounded uk-form-width-large uk-margin-remove" type="text" placeholder="Email-Address">
        </div>
      
          
    
      
</div>
<div class="uk-grid-small uk-flex-center" uk-grid>

   <div>
     <button class="uk-button uk-button-default">Reset</button>
  </div> 

    <div>
      <button class="uk-button uk-button-default" style="background-color:coral">Submit</button>
    </div>

</div>
  </div>
  

<router-outlet></router-outlet>
